<section>
    <div class="presentazione">
    <h1>WELCOME TO CITYIMPACT
        <span class="logo-mini">
            <img src="../../../assets/img/Logo_mini.png" alt="logo" />
        </span></h1>
    <p>
        Cities are the beating heart of our society: hotbeds of ideas, commerce, culture, science and productivity.
        <br>But to be truly centres of social development, they need the contribution of each one of us.
        <br>CityImpact was created with the aim of improving people's lives in urban centres, making our cities more liveable, innovative and sustainable places.
        <br><br>
        Our free app is designed to connect citizens who are aware and eager to make a difference.
        <br> By registering on CityImpact, you will have the opportunity to share ideas, reports and projects.
        <br><br>
        Join us in this mission; with CityImpact, every citizen can become a protagonist of change.
        <br> Together, we can build a better future, one post at a time!
    </p>
    </div>
</section>