ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:calc(15px + 0.5vw);
    padding: 15px 0;
}

a {
    text-decoration: none;
    color: var(--darkblue-color);
}

li {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 18px;
}

a:hover {
    background-color: var(--lightblue-color);
}